
module "{{id}}" {
  source = "{{paths._infra}}/{{paths.res}}"

  domain = "{{domain}}"
  public= "{{paths._infra}}/{{paths._build}}/{{paths.src}}/{{options.public}}"
}

output "{{id}}_bucket" {
  value = module.{{id}}.bucket
}

output "{{id}}_bucket_domain_name" {
  value = module.{{id}}.bucket_domain_name
}